body{
  margin:0;
  padding:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,#4facfe,#00f2fe);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  background:white;
  padding:30px;
  border-radius:20px;
  text-align:center;
  width:300px;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}

h1{
  margin-bottom:20px;
}

input{
  width:90%;
  padding:10px;
  border-radius:10px;
  border:1px solid gray;
  font-size:16px;
}

button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  border-radius:10px;
  background:#0077ff;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#005ad1;
}

#weatherResult{
  margin-top:20px;
  font-size:18px;
}